@import url('../../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../../node_modules/@fortawesome/fontawesome-free/css/all.min.css');
#app {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: .875rem;
}

header i {
    color: #fff;
}

header span {
    color: #fff;
}


/* Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    overflow-x: auto;
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar div {
    overflow-wrap: break-word;
}

.nav-item {
    margin: 5px;
    width: calc(95% - 5px);
}

.sidebar div {
    font-weight: 500;
    color: #333;
}

.sidebar .status {
    font-weight: 500;
    color: red;
}


/* Navbar */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.grafica {
    /* margin: 100px auto */
    margin: 50px auto 50px
}

.icons {
    text-align: center;
}

.icons>a:hover {
    cursor: pointer;
}

.chart-rel {
    position: relative;
    bottom: -30px;
}

.chart-rel i {
    color: red;
}

.chart-rel>a:hover {
    cursor: pointer;
}

.hoy-rel {
    position: relative;
    top: -40px;
    left: -10px;
}

.hoy-rel i {
    color: rgb(230, 230, 230);
}

.hoy-rel>a:hover {
    cursor: pointer;
}

.hoy-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.hoy-item {
    min-width: 300px;
    width: calc(30% - 20px);
    height: 250px;
    margin: 20px;
    border-radius: 20px;
}

.hoy-item.item {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 55%;
}

.hoy-item.item>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hoy-item.item>:nth-child(1) {
    grid-area: 1 / 1 / 1 / 1;
    border-radius: 20px 0px 0px 0px;
    background-color: lightskyblue;
    padding: 20px;
    font-size: 15px;
    font-weight: 700;
}

.hoy-item.item>:nth-child(2) {
    grid-area: 1 / 2 / 1 / 2;
    border-radius: 0px 20px 0px 0px;
    background-color: lightskyblue;
}

.hoy-item.item>:nth-child(3) {
    grid-area: 2 / 1 / 2 / 1;
    font-size: 60px;
    font-weight: 700;
    border-radius: 0px 0px 0px 20px;
    background-color: whitesmoke;
}

.hoy-item.item>:nth-child(4) {
    grid-area: 2 / 2 / 2 / 2;
    border-radius: 0px 0px 20px 0px;
    background-color: whitesmoke;
    height: 100%;
}

.centered-container {
    text-align: left;
    font-size: smaller;
    width: calc(100% - 40px);
}

.centered-container table {
    width: 100%;
}

.hoy-item.add {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    font-size: 50px;
    color: white;
}

.hoy-item.add:hover {
    cursor: pointer;
}

i.hoy {
    font-size: 50px;
    color: white;
}

.chart-div {
    margin-bottom: 80px;
}

.form-label {
    display: inline-block;
    text-align: center;
    font-weight: 600;
}