<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Weather Board</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>
    <div id="app">
        <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <div class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Weather Board</div>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <input class="form-control form-control-dark w-100" type="text" placeholder="Buscar" aria-label="Buscar">
            <div class="navbar-nav">
                <div class="nav-item text-nowrap">
                    <a class="nav-link px-3" href="#">
                        <i class="fas fa-user"></i><span> Log in</span>
                    </a>
                </div>
            </div>
        </header>

        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="position-sticky pt-3">
                        <ul class="nav flex-column">
                            <li class="nav-item" v-for="(name, index) in selectedItems.namesPathArr" :key="index">
                                <div>{{index + 1}}.- <i class="fa-solid fa-circle" :style="itemColorStyleFunc(index)"></i> {{name[0].length==0?name[1]:name[0]+" >"}}</div>
                                <span v-if="name[0].length>0">{{name[1]}}</span><span class="status" v-if="selectedItems.statusArr[index]!='READY'"> [{{selectedItems.statusArr[index]}}]</span>
                                <div class="icons">
                                    <a class="text-secondary" @click="deleteItem(index)"><i class="fa-regular fa-circle-xmark fa-lg"></i></a>
                                    <a class="text-secondary" @click="moveItem(index, 'up')"><i class="fa-regular fa-circle-up fa-lg"></i></a>
                                    <a class="text-secondary" @click="moveItem(index, 'down')"><i class="fa-regular fa-circle-down fa-lg"></i></a>
                                    <a class="text-secondary" @click="editItem(index)" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa-regular fa-pen-to-square fa-lg"></i></a>
                                </div>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-outline-secondary nav-item" v-if="selectedItems.namesPathArr.length>0" @click="updateWeatherData(-1, 'metric')"><i class="fa-solid fa-rotate"></i></button>
                        <button type="button" class="btn btn-secondary nav-item" v-if="selectedItems.namesPathArr.length<6" @click="initModal(1)" data-bs-toggle="modal" data-bs-target="#myModal">Añadir Ubicación...</button>
                    </div>
                </nav>
                <!-- ********************** main ********************** -->
                <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 ">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ">
                        <h1 class="h2 ">Dashboard</h1>
                        <div class="btn-toolbar mb-2 mb-md-0 ">
                            <div class="btn-group me-2 ">
                                <button type="button" class="btn btn-sm btn-outline-secondary" @click="getWeather">Hoy</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Gráfica</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Tabla</button>
                            </div>
                        </div>
                    </div>

                    <div>

                    </div>
                    <h2 class="border-bottom">Chart</h2>
                    <canvas class="my-4 w-100 " id="myChart" width="900 " height="380 "></canvas>

                    <h2>Tabla</h2>
                    <div class="table-responsive ">
                        <table class="table table-striped table-sm ">
                            <thead>
                                <tr>
                                    <th scope="col "> </th>
                                    <th v-for="(item, index) in selectedItems.namesPathArr" :key="index">{{item[0]}} > {{item[1]}}</th>
                                    <!-- <th scope="col ">Header</th>
                                    <th scope="col ">Header</th>
                                    <th scope="col ">Header</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="col ">Actual</th>
                                    <td v-for="(actual, index) in selectedItems.dataArr" :key="index">{{actual.current.temp}}</td>
                                    <!-- <td>random</td>
                                    <td>data</td>
                                    <td>placeholder</td>
                                    <td>text</td> -->
                                </tr>
                                <tr>
                                    <th scope="col ">Dia 0</th>
                                    <td v-for="(diario, index) in selectedItems.dataArr" :key="index">{{diario.daily[0].temp.day}}</td>
                                    <!-- <td>irrelevant</td>
                                    <td>visual</td>
                                    <td>layout</td> -->
                                </tr>
                                <tr>
                                    <th scope="col ">Dia 1</th>
                                    <td v-for="(diario, index) in selectedItems.dataArr" :key="index">{{diario.daily[1].temp.day}}</td>
                                    <!-- <td>rich</td>
                                    <td>dashboard</td>
                                    <td>tabular</td> -->
                                </tr>
                                <tr>
                                    <th scope="col ">Dia 2</th>
                                    <td v-for="(diario, index) in selectedItems.dataArr" :key="index">{{diario.daily[2].temp.day}}</td>
                                    <!-- <td>placeholder</td>
                                    <td>illustrative</td>
                                    <td>data</td> -->
                                </tr>
                                <tr>
                                    <th scope="col ">Dia 3</th>
                                    <td v-for="(diario, index) in selectedItems.dataArr" :key="index">{{diario.daily[3].temp.day}}</td>
                                    <!-- <td>random</td>
                                    <td>layout</td>
                                    <td>dashboard</td> -->
                                </tr>
                                <tr>
                                    <th scope="col ">Dia 4</th>
                                    <td v-for="(diario, index) in selectedItems.dataArr" :key="index">{{diario.daily[4].temp.day}}</td>
                                    <!-- <td>irrelevant</td>
                                    <td>text</td>
                                    <td>placeholder</td> -->
                                </tr>
                                <tr>
                                    <th scope="col ">Dia 5</th>
                                    <td v-for="(diario, index) in selectedItems.dataArr" :key="index">{{diario.daily[5].temp.day}}</td>
                                    <!-- <td>illustrative</td>
                                    <td>rich</td>
                                    <td>data</td> -->
                                </tr>
                                <tr>
                                    <th scope="col ">Dia 6</th>
                                    <td v-for="(diario, index) in selectedItems.dataArr" :key="index">{{diario.daily[6].temp.day}}</td>
                                    <!-- <td>tabular</td>
                                    <td>information</td>
                                    <td>irrelevant</td> -->
                                </tr>
                                <tr>
                                    <th scope="col ">Dia 7</th>
                                    <td v-for="(diario, index) in selectedItems.dataArr" :key="index">{{diario.daily[7].temp.day}}</td>
                                    <!-- <td>data</td>
                                    <td>placeholder</td>
                                    <td>text</td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </main>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">{{modalData.title}}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <input class="form-check-input mt-0" type="radio" name="flexRadioDefault" id="flexRadio1" v-model="modalData.radioValue" value="1" @change=changeOnRadio>
                            </span>
                            <select v-model="selectListData.selectedItemIndex" :disabled="modalData.selectListDisabledToggle" class="form-select" @change="changeOnSelect($event.target.selectedIndex)">
                                <option :value="index" v-for="(place, index) in selectListData.places" :key="index">{{place}}</option>
                            </select>
                            <button class="btn btn-secondary" type="button" id="button-addon" :disabled="modalData.eraseButtonDisabledToggle" @click="initModal(0)"><i class="far fa-times-circle"></i></button>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                <input class="form-check-input mt-0" type="radio" name="flexRadioDefault" id="flexRadio2" v-model="modalData.radioValue" value="2" @change=changeOnRadio>
                            </span>
                            <input type="text" class="form-control" placeholder="lon,lat Ejem: -21.77,-102.35" @input="changeOnInput($event.target.selectedIndex)" v-model="inputsData.coord">
                            <input type="text" class="form-control" placeholder="[alias [opcional]]" v-model="inputsData.alias">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" :disabled="modalData.aceptarButtonDisabledToggle" @click="clickOK">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./scripts/index.js "></script>
</body>

</html>